@charset "utf-8";

/*-----------------------------
Name: public css
Design:Lys
Time: 2017-10-13
-----------------------------*/


/* initial */

body,
ul,
dl,
dd,
dt,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
img,
td,
div,
input,
textarea,
b,
i,
em,
cite {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'PingFang SC', 'Microsoft Yahei', 'sans-serif';
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

li {
  vertical-align: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  outline-style: none;
  color: #333;
  text-decoration: none;
}

a:hover {
  color: 999;
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  color: #464646
}

body,
input,
select,
textarea {
  font-size: 0.26rem;
  outline: none;
  border-radius: 0;
}

input[type='text'],
select,
textarea {
  -webkit-appearance: none;
}

object,
embed,
video {
  max-width: 100%;
  border: none;
  margin-top: 3px;
}

img {
  border: none;
  width: 100%;
  border: 0;
  vertical-align: middle;
}

body>img {
  display: block;
  width: auto;
}


/* base */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
/* background color */
.bg-light-gray {
  background-color: #a0a0a0;
}
.bg-orange {
  background-color: #ef571c;
}
.bg-pink {
  background-color: #dc1f5a;
}
.bg-red {
  background-color: #ff513a;
}
.bg-yellow {
  background-color: #f4af39;
}
/* font color */
.ft-black {
  color: #212121;
}
.ft-gray {
  color: #a0a0a0;
}
/* font */
.normal-font {
  font-size: 0.26rem;
}
